<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beekill.matdienapp">

    <uses-sdk android:minSdkVersion="13" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MatDienApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.devices.DevicesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInActivity" />

        <service android:name=".MatDienService" />

        <receiver
            android:name=".communication.TextSMSCommunication$TextSMSReceiverHandler"
            android:enabled="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.NotificationActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".activities.admin.AdminActionActivity"
            android:label="@string/title_activity_admin_action"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity android:name=".qrreader.QRActivity" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".activities.AddDeviceDialog"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".activities.subscriber.SubscriberActionActivity"
            android:label="@string/title_activity_subscriber_action"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>